* {
    padding: 0px;
    margin: 0px;
}

body::before {
    background: url('../img/bg1.jpg') no-repeat center center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    height: 177%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

nav {
    display: flex;
    background: black;
    padding: 21px;
    box-sizing: border-box;
}

nav li {
    list-style: none;
    padding: 0px 10px
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 5px 8px;
    padding: 6px 7px;
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
}

nav li a:hover {
    text-decoration: none;
    color: black;
    border-radius: 6px;
    background-color: white;
    font-weight: bold;
    margin: 5px 8px;
    padding: 11px 7px;
    font-size: 18px;
}

.container {
    border: 4px solid black;
    background-color: white;
    margin: 12px auto;
    max-width: 75%;
    border-radius: 12px;
    height: 154vh;
    padding: 19px 25px;
    outline: none;
    font-family: 'Baloo Bhai 2', cursive;
}

h1 {

    text-align: center;
    margin-top: 10px;
}

h1,
h2 {
    font-family: 'Baloo Bhai 2', cursive;
    padding: 23px 0px;
    margin-left: 5px;
}

ul {
    margin: 0px 9px;
    padding: 10px 22px;
}

.questions {
    margin: 4px 5px;
    padding: 14px 12px;
}